body{
  background: #e03e53;
  color: white;
  background: linear-gradient(135deg, #e03e53 0%,#e0b5c2 100%);
  background-repeat:no-repeat;
  background-attachment: fixed;
}

h1{
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  position: relative;
  top: 10px;
}
