.arrowExt{
  font-size: 60px;
  color: white;
  transition: color 0.4s;
  margin-bottom: 20%;
}

.arrowExt:hover{
  color: #e03e53;
}

.parallax{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.first-parallax{
  background: url(/Images/index-CarWithGrad.png);
  background-position: top;
}

#cont1{
  border-top: 6px solid #333;
}

#cont2{
  border-top: 6px solid #e03e53;
}


#gsponsor-list{
  width: 100%;
  margin: 9px;
  margin-top: 40px;
}

#osp-list{
  margin: 9px;
  margin-top: 40px;
  white-space: nowrap;
  width: 100%;
  display: table;
}

#gsponsor-list td{
  width: 50%;
}

#osp-list div{
  display: table-cell;
}

#gsponsor-list img{
  display: block;
  margin: auto;
  width: 55%;
}

#osp-list img{
  display: block;
  margin: auto;
  height: 90px;
}

.gsponsor-name{
  font-weight: bold;
  text-transform: uppercase;
}


h1{
  text-align: center;
  color:rgb(255, 255, 255);
  font-family: Righteous, Century Gothic;
  font-weight: 100;
  font-size: 70px;
  background: rgba(255, 255, 255,0);
  margin-left: 1%;
  margin-right:1%;
  margin-top: 20%;
}
